<div class="container">
  <label>Avicena</label>
  <div class="mainContent">
    <div class="problemSelection">
      <label>Please Select CFD Problem to run:</label>
      <select>
        <option>Lid Driven Cavity</option>
        <option>Plane Shear Flow</option>
        <option>Flow Over Step</option>
        <option>Carman Vortex</option>
      </select>
    </div>
    <div class="problemCompute">
      <button (click)="compute()">compute</button>
      <button (click)="download()">Download</button>
    </div>
    <div class="selectedProblem">
      <label>{{problemName | async}}</label>
    </div>
  </div>
</div>